* {
    padding:0;
    margin:0;
}

body {
    display:grid;
    grid-template-columns: 1fr 3fr;
    border: black 2px solid;
    width:100vw;
    height: 100vh;
}
.header {
    background:green;
    grid-column: 2 / 3;
}
.sidebar {
    background:blue;
    grid-row: 1 / 3;
    display:grid;
    grid-template-rows:0.5fr 2fr 2fr; /*Feels rough, but works (1)*/
    grid-template-areas: 
        "logo"
        "nav"
        "settings"
    ;
    gap:8px;
    padding-bottom:25vh;
}
.sidebar .logo { /*TODO: Make logo not take up so much space!!! (1)*/
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background:aqua;
    grid-area:logo;
}
.sidebar .nav {
    background:rgb(96, 96, 238);
    grid-area:nav;
}
.item {
    display:grid;
    grid-template-columns: 0.5fr 1fr;
    gap:12px;
    align-items: center;
    height: 40px;
    padding-bottom:20px;
}
.sidebar .settings {
    background:rgb(39, 32, 104);
    grid-area:settings;
}
.sidebar img{
    width:80px;
    height:80px;
}
.content {
    background:red;
    grid-row: 2 / 3;
}
