* {
    padding:0;
    margin:0;
}

body {
    display:grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr 5fr;
    border: black 2px solid;
    width:100vw;
    height: 100vh;
}
.header {
    background:white;
    grid-column: 2 / 3;
}
.sidebar {
    background:rgb(62, 62, 161);
    padding:30px;
    grid-row: 1 / 3;
    display:grid;
    grid-template-rows:0.5fr 2fr 2fr;
    color:white;
    grid-template-areas: 
        "logo"
        "nav"
        "settings"
    ;
    gap:8px;
    padding-bottom:25vh;
}
.sidebar .logo {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-area:logo;
}
.sidebar .nav {
    grid-area:nav;
    padding-bottom:40px;
    border-bottom: 2px solid white;
}
.item {
    display:grid;
    grid-template-columns: 0.5fr 1fr;
    gap:12px;
    align-items: center;
    height: 40px;
    padding-bottom:20px;
}
.sidebar .settings {
    grid-area:settings;
}
.sidebar-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7484%) hue-rotate(242deg) brightness(106%) contrast(104%);
}
.logo img{
    width:80px;
    height:80px;
}
.content {
    background:rgb(214, 214, 214);
    grid-row: 2 / 3;
}
.header {
    display:grid;
    grid-template-rows:1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
}
.header-top {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20%;
    grid-template-rows: 1fr;
    align-items: center;
}
.top-left {
    display:grid;
    grid-template-columns: 0.2fr 3fr;
    align-items: center;
}
.top-right {
    display:grid;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    justify-self: end;
    gap:12px;
}
.header-bottom {
    display:grid;
    grid-template-columns: 70px 0.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.header-buttons {
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-self:end;
}
.header-buttons > li > button{
    padding: 8px 25px;
    border-radius: 12px;
    border: 1px white solid;
    background:navy;
    color:white;
}
.profile-img {
    width:50px;
    height: 50px;
    background:yellow;
    border-radius: 50px;
    border: black 2px solid;
}
.icon {
    width: 30px;
    height: 30px;
}
.searchbar {
    background-color: #e2dcdc;
    border-radius: 40px;
    border: 0;
    padding: 10px 20px;
}

.proj, .card {
    background:white;
    border-radius: 10px;
}
.proj {
    border-left: 10px orange solid;
    display:inline-grid;
    grid-template-rows: 1fr 0.5fr;
    padding:12px;
}
.actions {
    display:flex;
    align-items: end;
    justify-content: end;
    gap:20px;
}
.card {
    display:grid;
    padding: 5px 10px;
}
.announce {
    border-bottom: 2px rgba(0, 0, 0, 0.20) solid;
}
.users {
    list-style: none;
    display:grid;
    padding:10px;
}
.users li {
    display:grid;
    align-items: center;
    grid-template-columns: 0.5fr 1fr;
}
.content {
    display:grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 0.01fr;
    gap:16px;
    padding:20px;
}
.content > .title{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    height:fit-content;
}
.informational {
    display:grid;
    gap: 20px;
    grid-template-rows:0.01fr 1fr 0.01fr 1fr;
}
.projects {
    gap:16px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
}