* {
    padding:0;
    margin:0;
}

body {
    display:grid;
    grid-template-columns: 1fr 3fr;
    border: black 2px solid;
    width:100vw;
    height: 100vh;
}
.header {
    background:green;
    grid-column: 2 / 3;
}
.sidebar {
    background:blue;
    grid-row: 1 / 3
}
.content {
    background:red;
    grid-row: 2 / 3;
}
