* {
    padding:0;
    margin:0;
}

body {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 3.5fr;
    border: black 2px solid;
    width:100vw;
    height: 100vh;
}
.header {
    background:green;
    grid-column: 2 / 3;
}
.sidebar {
    background:blue;
    grid-row: 1 / 3;
    display:grid;
    grid-template-rows:0.5fr 2fr 2fr; /*Feels rough, but works (1)*/
    grid-template-areas: 
        "logo"
        "nav"
        "settings"
    ;
    gap:8px;
    padding-bottom:25vh;
}
.sidebar .logo { /*TODO: Make logo not take up so much space!!! (1)*/
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background:aqua;
    grid-area:logo;
}
.sidebar .nav {
    background:rgb(96, 96, 238);
    grid-area:nav;
}
.item {
    display:grid;
    grid-template-columns: 0.5fr 1fr;
    gap:12px;
    align-items: center;
    height: 40px;
    padding-bottom:20px;
}
.sidebar .settings {
    background:rgb(39, 32, 104);
    grid-area:settings;
}
.sidebar img{
    width:80px;
    height:80px;
}
.content {
    background:red;
    grid-row: 2 / 3;
}
.header {
    display:grid;
    grid-template-rows:0.5fr 1fr;
}
.header-top {
    background:lightgreen;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20%;
    grid-template-rows: 1fr;
    align-items: center;
}
.top-left {
    display:grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.top-right {
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 2fr;
}
.header-bottom {
    display:grid;
    grid-template-columns: 0.2fr 0.5fr 1fr;
    grid-template-rows: 0.2fr;
    align-items: center;
}
.welcome{
    grid-area: 1 / 2 / 2 / 3;
}
.user {
    grid-area: 2 / 2 / 3 / 3;
}
.header-buttons {
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 60px;
}
.profile-img {
    width:80%;
    height: 80%;
}