* {
    padding:0;
    margin:0;
}

body {
    display:grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr 5fr;
    border: black 2px solid;
    width:100vw;
    height: 100vh;
}
.header {
    background:green;
    grid-column: 2 / 3;
}
.sidebar {
    background:blue;
    grid-row: 1 / 3;
    display:grid;
    grid-template-rows:0.5fr 2fr 2fr;
    grid-template-areas: 
        "logo"
        "nav"
        "settings"
    ;
    gap:8px;
    padding-bottom:25vh;
}
.sidebar .logo {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background:aqua;
    grid-area:logo;
}
.sidebar .nav {
    background:rgb(96, 96, 238);
    grid-area:nav;
}
.item {
    display:grid;
    grid-template-columns: 0.5fr 1fr;
    gap:12px;
    align-items: center;
    height: 40px;
    padding-bottom:20px;
}
.sidebar .settings {
    background:rgb(39, 32, 104);
    grid-area:settings;
}
.sidebar img{
    width:80px;
    height:80px;
}
.content {
    background:red;
    grid-row: 2 / 3;
}
.header {
    display:grid;
    grid-template-rows:1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
}
.header-top {
    background:lightgreen;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20%;
    grid-template-rows: 1fr;
    align-items: center;
}
.top-left {
    display:grid;
    grid-template-columns: 0.2fr 3fr;
    align-items: center;
}
.top-right {
    display:grid;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    justify-self: end;
    gap:12px;
}
.header-bottom {
    display:grid;
    grid-template-columns: 70px 0.5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.header-buttons {
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-self:end;
}
.header-buttons > li > button{
    padding: 8px 25px;
    border-radius: 12px;
    border: 1px white solid;
    background:navy;
    color:white;
}
.profile-img {
    width:50px;
    height: 50px;
    background:yellow;
    border-radius: 50px;
    border: black 2px solid;
}
.icon {
    width: 30px;
    height: 30px;
}
.searchbar {
    background-color: #e2dcdc;
    border-radius: 40px;
    border: 0;
    padding: 10px 20px;
}